/* CSS Tree menu styles */
ol.tree {
	padding: 0 0 0 30px;
	width: 300px;
}
li { 
	position: relative; 
	margin-left: -15px;
	list-style: none;
}      
li input {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}
li input + ol {
	background: url(../img/toggle-small-expand.png) 40px 0 no-repeat;
	margin: -1.600em 0px 8px -44px; 
	height: 1em;
}
li input + ol > li { 
	display: none; 
	margin-left: -14px !important; 
	padding-left: 1px; 
}
li label {
	background: url(../img/folder.png) 15px 1px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}
li input:checked + ol {
	background: url(../img/toggle-small.png) 40px 5px no-repeat;
	margin: -1.96em 0 0 -44px; 
	padding: 1.563em 0 0 80px;
	height: auto;
}
li input:checked + ol > li { 
	display: block; 
	margin: 8px 0px 0px 0.125em;
}
li input:checked + ol > li:last-child { 
	margin: 8px 0 0.063em;
}

body{
	background-color: #004D40;
	font-family: 'Open Sans', sans-serif;
	color:#E0F2F1;	
}
a
{
	color:white;
	font-weight: bold;
}
p
{
	padding-top:8px;
	display: inline-block;
	//font-family: 'Open Sans', sans-serif;
	//font-size:18px;
}
span
{
	color:#004D40;
	letter-spacing: 1px;
	font-weight: bold;
}
table
{
    table-layout: fixed;
}
td
{
    word-wrap:break-word;
}
tbody, thead
{
	color:#004D40;
}
.myrow
{
	margin-top:20px;
}
.c0
{
	margin-top:2px;
	min-height:50px;
	text-align:left;
	padding-top:5px;
	
	
}
.folderView
{
	
	
}
.folder
{
	border-right: 2px solid #004D40;
	
}
.c3
{
	margin-top:2px;
	padding:5px;
}
.c0, .c3
{
	background-color:#009688;
}
.folderView, .folder
{
	background-color:#80CBC4;
	color:#004D40;
	max-height:500px;
	min-height:500px;
	padding:20px;
	margin-top:2px;
}
.container
{
	
}

