body[role="login"] {
	background-color: #004D40;
	font-family: 'Open Sans', sans-serif;
	color:#E0F2F1;
}
[role="login"] .container {
	margin-top: 100px;
	
}
[role="login"] .btn-success {
	background: #004D40;
	color:#B2DFDB;
	border: 1px solid white;
	float: right;
	margin-bottom:5px;
}
[role="login"] label {
	font-weight: normal;
	color: #FFF
}
.panel-heading {
	padding: 5px 15px;
}
.form-inline {
	margin: 5px
}
.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #FFF, rgba(0, 0, 0, 0));
	margin: 5px
}
fieldset
{
	background-color:#80CBC4;
	color:#004D40;
}
.profile-img {
	margin: 0 auto 10px;
	display: block;
}
.panel-default {
	opacity: .9;
	-webkit-box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45);
	box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45);
	border:10px double #009688;
}

h4 
{
	font-size:18px;
}